<div class="img">
    <img src="__PUBLIC__/home/images/tooopen.jpg" height="300" width="100%">
</div>
<div class="topbar">
    <div class="inner">

        <ul class="nav">
            <volist name="cateres" id="vo">
            <li id="menu-item-180" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-180"><a
                    title="" href="__MODULE__/Cate/index/id/{$vo.id}">{$vo.catename}</a>
            </li>
            </volist>
        </ul>

        <ul class="nav topmenu">
            <li id="menu-item-12460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12460"><a
                    href="">关于本站</a></li>
        </ul>
    </div>
</div>